@import "../../../style/index.module";
@media (max-width: 1024px) {

  .MenuContainer {
    display: none;
    font-family: "GowunDodum", serif;
  }
}
@media (min-width: 1024px) {

  .MenuContainer {
    width: 100%;
    height: auto;
    padding: 0;
    font-size: 2em;
    @include d-flex-row();

    & a {
      text-decoration: none;
      color: pink;
    }

    & ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      margin-right: 25px;
      @include d-flex-row();

      & li {
        text-align: center;
        line-height: 1.4em;
        padding: 0 10px;
      }

      & li:hover {
        background-color: rgba(0, 0, 0, 0.3);
        transition: background 1s ease;
        border-radius: 7px;
      }

      & li:hover a {
        color: white;
        transition: color 1s ease;
      }
    }

    & p {
      text-align: center;
      padding: 10px 15px;

      a {
        color: pink;
      }
    }

    & p:hover {
      background-color: rgba(255, 100, 100, 1);
      transition: background 1s ease;
      border-radius: 7px;
    }

    & p:hover a {
      color: white;
      transition: color 1s ease;
    }
  }
}