@import "src/style/index.module.scss";

.mainBlock{
  width:100%;
  padding:20px;
  box-sizing: border-box;

  font-family: "GowunDodum", serif;
  background-image: url("../../assets/img/mainImages.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  min-height: 50vh;
  & h1{
    margin:0;
  }
  & p{
    font-size: 1.3em;
    width:70%;
  }
}
.header1{
  font-size: 3em;
}

@media (max-width: 1024px){
  .mainBlock {
    //background-color: bisque;
  }
}
@media (min-width: 1024px){
  .mainBlock {
    //background-color: aquamarine;
  }
}